
* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 60px;
}
.container .content{
  text-align: center;
}
.container .content h3{
  font-size: 30px;
  color: #333;
}
.container .content h3 span{
  background-color: cadetblue;
  color: #fff;
  border-radius: 5px;
  padding: 0 10px;
}
.container .content h1 {
  font-size: 50px;
  color: #333;
}
.container .content h1 span{
  color: crimson;
}
.container .content p{
  font-size: 25px;
  margin-bottom: 20px;
}
.dbtn{
  width: 50%;
  height: auto;
  padding: 15px;
  background-color: cornflowerblue;
  border-radius: 25px;
}
.form-box{
  width: 340px;
  height: 350px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  border: 4px solid;
}
.topbtn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  background-color: #07374c;
  border-radius: 5px;
   color: #fff;
}
.topbtn:hover{
  background-color: tomato;
}
.lbtn{
  width: 220px;
  height: 20px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px tomato;
  border-radius: 30px;
}
#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right,#07374c);
  border-radius: 30px;
  transition: .5s;
}
#name{
  text-align: left;
}
.loginform{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
}
.details{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  align-items: center;
}
.check-box{
  margin: 30px 10px 30px 0;
}
#r{
  color: #777;
  font-size: 12px;
  position: absolute;
}
.submitbtn{
  width: 28%;
  padding: 20px 20px 20px;
  cursor: pointer;
  margin: auto;
  display: block;
  background-color: #07374c;
  border: 0;
  outline: none;
  border-radius: 30px;
  color: #fff;
  font-size: 1em;
}

.container2{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 60px;
}
.container2 .content2{
  text-align: center;
}
.container2 .content2 h3{
  font-size: 30px;
  color: #333;
}
.container2 .content2 h3 span{
  background-color: cadetblue;
  color: #fff;
  border-radius: 5px;
  padding: 0 10px;
}
.container2 .content2 h1 {
  font-size: 50px;
  color: #333;
}
.container2 .content2 h1 span{
  color: crimson;
}
.container2 .content2 p{
  font-size: 25px;
  margin-bottom: 20px;
}
.dbtn2{
  width: 50%;
  height: auto;
  padding: 15px;
  background-color: cornflowerblue;
  border-radius: 25px;
}
.form-box2{
  width: 340px;
  height: 420px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  border: 4px solid;
}
.topbtn2 {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  background-color: #07374c;
  border-radius: 5px;
   color: #fff;
}
.topbtn2:hover{
  background-color: tomato;
}
.lbtn2{
  width: 220px;
  height: 20px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px tomato;
  border-radius: 30px;
}
#btn2{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right,#07374c);
  border-radius: 30px;
  transition: .5s;
}
#name2{
  text-align: left;
}
.loginform2{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
  padding-bottom: 100px;
  align-items: center;
}
.details2{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.check-box2{
  margin: 30px 10px 30px 0;
}
#r2{
  color: #777;
  font-size: 12px;
  position: absolute;
}
.submitbtn2{
  width: 28%;
  padding: 20px 20px 20px;
  cursor: pointer;
  margin: auto;
  display: block;
  background-color: #07374c;
  border: 0;
  outline: none;
  border-radius: 30px;
  color: #fff;
  font-size: 1em;
    }
